<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Youtube Video Download</title>
        <script src={% static "js/script.js" %}></script>
    </head>
    <body>
        <div style="display: flex;">
            <form action={% url "home" %} method="get">
                <input type="url" name="url" id="input-url">
                <button type="submit">Submit</button>
            </form>
        </div>
        {% for stream in streams %}
            <div>
                <h3>{{stream.title}}</h3>
                <p><span>{{stream.resolution}} | {{stream.filesize_mb}}</span></p>
                <p>Audio: {{stream.includes_audio_track}}</p>
                <p>Video: {{stream.includes_video_track}}</p>
                <a href={% url "download" stream.itag %}>Download</a>
            </div>
        {% endfor %}
    </body>
</html>